/* default styles
------------------------------------------------------------ */

body {
  font-family : Meiryo, 'Hiragino Kaku Gothic ProN', sans-serif;
  font-size : 14px;
  line-height : 1.5;
  margin : 0;
  padding : 0;
  color : $color-base;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, table, th, td, caption {
  margin : 0;
  padding : 0;
}

h1, h2, h3, h4, h5, h6, strong, em, b {
  font-weight : bold;
}

em {
  font-style : normal;
}

ul, ol, li {
  margin : 0;
  padding : 0;
  list-style : none;
}

img {
  max-width : 100%;
  vertical-align : bottom;
}

fieldset {
  border : none;
}

hr {
  display : none;
}

label, button, select, option {
  cursor : pointer;
}