{% comment %}
<!--
Obtain time and tags that are associated with current page/post.
-->
{% endcomment %}

{% if post %}
{% assign date = post.date %}
{% assign tags = post.tags %}
{% else %}
{% assign date = page.date %}
{% assign tags = page.tags %}
{% endif %}

<span class="post-meta">
<time
datetime="{{ date | date_to_xmlschema }}"
class="post-date">
{{ date | date_to_string }}
</time>

{% comment %}
<!--
Display all the tag names that link to a corresponding section of the Tags page.
-->
{% endcomment %}
<div class="post-tags">
<ul>
{% for tag in tags %}
<li><a href="{{ site.baseurl }}/tags#{{ post.tags | slugize }}">
{{ tag }}
</a></li>
</ul>
{% endfor %}
</div>
</span>
