<h2 class="hdg-lv2-02">Author</h2>
<div class="author">
<div class="image">
<img class="circle w150" src="/images/common/author.jpg" alt="">
<!-- /image --></div>
<div class="content">
<h2 class="hdg-lv2-03">73tk</h3>
<p class="desc">フロントエンドエンジニア / サウンドデザイナー</p>
<!-- /content --></div>
</div><!-- /author -->

<h2 class="hdg-lv2-02">Tag cloud</h2>
{% assign tag_names = "" | split: "|"  %}

{% for posts_by_tag in site.tags %}
{% assign tag_names = tag_names | push: posts_by_tag.first %}
{% endfor %}

{% assign tag_names = tag_names | sort %}

{% if include.tag_names %}
  {% assign tag_names = include.tag_names %}

{% else %}
  {% assign tag_names = "" | split: "|"  %}

  {% for posts_by_tag in site.tags %}
    {% assign tag_names = tag_names | push: posts_by_tag.first %}
  {% endfor %}

  {% assign tag_names = tag_names | sort %}
{% endif %}

<ul class="tag-cloud">
  {% for tag_name in tag_names %}
    <li>
      <a href="{{ baseurl }}/tags#{{ tag_name | slugize }}">
        {{ tag_name }}
      </a>
    </li>
  {% endfor %}
</ul>

<h2 class="hdg-lv2-02">Categories</h2>
{% assign category_names = "" | split: "|"  %}

{% for posts_by_category in site.categories %}
{% assign category_names = category_names | push: posts_by_category.first %}
{% endfor %}

{% assign category_names = category_names | sort %}

{% assign category_names = "" | split: "|"  %}

{% for posts_by_category in site.categories %}
{% assign category_names = category_names | push: posts_by_category.first %}
{% endfor %}

{% assign category_names = category_names | sort %}

{% if include.category_names %}
  {% assign category_names = include.category_names %}

{% else %}
  {% assign category_names = "" | split: "|"  %}

  {% for posts_by_category in site.categories %}
    {% assign category_names = category_names | push: posts_by_category.first %}
  {% endfor %}

  {% assign category_names = category_names | sort %}
{% endif %}

<ul class="category-cloud">
  {% for category_name in category_names %}
    <li>
      <a href="{{ baseurl }}/categories#{{ category_name | slugize }}">
        {{ category_name }}
      </a>
    </li>
  {% endfor %}
</ul>
