html, body {
  height: 100%;
  overflow: hidden;
  background: #71edf2;
  background: -moz-linear-gradient(top, #71edf2 0%, #5ea0d6 100%);
  background: -webkit-linear-gradient(top, #71edf2 0%, #5ea0d6 100%);
  background: linear-gradient(to bottom, #71edf2 0%, #5ea0d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71edf2', endColorstr='#5ea0d6',GradientType=0 );
  position: relative;
  font-family: 'Varela Round', sans-serif;
}

#svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

#wrap {
  height: 100%;
  width: 100%;
  text-align: center;
  display: table;
}
#wrap > .inner {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  color: #fff;
  font-size: 4em;
  letter-spacing: 0.2em;
  padding-left: 0.2em;
  color: transparent;
  text-shadow: 0 0 1px #fff, -2.5em 0 16px #fff, 2.5em 0 16px #fff, 2em -1.5em 20px #fff, -2em -1.5em 20px #fff, -2em 1.5em 20px #fff, 2em 1.5em 20px #fff, 0 3em 32px #fff, 0 -3em 32px #fff;
}

footer {
  position: absolute;
  z-index: 5;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}

footer span{
  font-size: 20px;
  vertical-align: middle;
}