h1 {
  font-size : 150%;
  font-weight : bold;
  margin-bottom : 20px;
  padding : 10px 20px;
  color : #ffffff;
  border-radius : 5px;
  background-color : #222222;
}

.mod-hdg-01 {
  font-size : 125%;
  font-weight : bold;
  margin-bottom : 30px;
  padding : 5px 20px 5px 0;
  border-bottom : 3px solid #222222;
  &:before {
    display : inline-block;
    width : 8px;
    height : 20px;
    margin : 0 12px -2px 0;
    content : '';
    border-radius : 4px;
    background-color : #222222;
  }
}

.mod-hdg-02 {
  font-weight : bold;
  margin : 30px 0 20px 0;
}
