body {
  font-family : sans-serif,'MS PGothic',Helvetica,Arial,;
  color : #222;
}

noscript div {
  margin-bottom : 30px;
  padding : 20px;
  border : 5px solid #666;
}
noscript div p {
  font-weight : bold;
  text-align : center;
  color : #666;
}
noscript div p:last-child {
  margin-bottom : 0;
}

html, body, #wrap {
  height : 100%;
}

#wrap {
  width : 960px;
}

.animation-area {
  position : absolute;
  top : 0;
  right : 0;
  bottom : 0;
  left : 0;
  width : 960px;
  height : 400px;
  margin : auto;
  vertical-align : middle;
}

#svg {
  position : absolute;
  z-index : 1;
  width : 960px;
  height : 400px;
  -webkit-border-radius : 5px;
          border-radius : 5px;
  background-color : #555;
}

h1 {
  font-family : 'Hiragino Kaku Gothic ProN',meiryo, sans-serif;
  font-size : 14px;
  line-height : 50px;
  position : absolute;
  z-index : 2;
  left : -15px;
  height : 50px;
  padding : 0 2em;
  letter-spacing : 2px;
  color : #333;
  background-color : #f0f0f0;
  &:before, &:after {
    position : absolute;
    content : '';
  }
  &:before {
    top : 100%;
    left : 0;
    border-width : 0 15px 15px 0;
    border-style : solid;
    border-color : transparent;
    border-right-color : #ccc;
  }
  &:after {
    z-index : 2;
    top : 0;
    right : 0;
    border-width : 25px 20px;
    border-style : solid;
    border-color : transparent;
    border-right-color : #555;
  }
}
