/* default.scss
------------------------------------------------------------ */
html {
  font-size : 10px;
}

body {
  font-family : $font-base;
  line-height : 1.6;
  margin : 0;
  padding : 0;
  color : $color-base;
}

* {
  box-sizing : border-box;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, li, form, fieldset, legend, table, th, td, caption {
  margin : 0;
  padding : 0;
}

h1, h2, h3, h4, h5, h6, strong, em, b {
  font-weight : bold;
}

ul, ol, li {
  list-style : none;
}

img {
  max-width : 100%;
  vertical-align : bottom;
}

fieldset {
  border : none;
}

hr {
  display : none;
}

label, button, select, option {
  cursor : pointer;
}

a {
  outline : none;
}
