// --- break point

$sp : 768px;
$tablet : 900px;

// --- structure

// $container :1000px;
// $main : 700px;
// $side : 300px;

// --- font color

$color-base : #000;
$color-accent : #f2a219;
$color-strong : #ff3333;
$color-link : #106dbe;
$color-link-v : #007880;
$color-link-h : #55acf7;

// --- color palette

// $red-1 : #f00;

// --- font

$font-base : 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
// $font-1 : 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
