html, body {
  height: 100%;
}

body{
background: #8e9eab; /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
overflow: hidden;
}

#wrap {
  height: 100%;
  position: relative;
}
#wrap > .inner {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: table;
}
#wrap > .inner > h1 {
  position: relative;
  z-index: 2;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  font-size: 100px;
  color: #ffd;
  text-shadow: 2px 2px 2px #000;
}

@media only screen and (max-width: 750px) {
  #wrap > .inner > h1 {
    font-size: 60px;
  }
}

svg {
  height: 560px;
  width: 270px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -135px;
}

footer {
  font-family: 'Pacifico', cursive;
  position : absolute;
  z-index : 5;
  bottom : 0;
  -webkit-box-sizing : border-box;
     -moz-box-sizing : border-box;
          box-sizing : border-box;
  width : 100%;
  padding : 5px 10px;
  text-align : center;
  color : #aaa;
}

footer span {
  vertical-align : -1px;
}